<% content_for :head do %>
  <%= javascript_import_module_tag "datatables.net-dt" %>
  <%= javascript_import_module_tag "datatables.net" %>
  <%= stylesheet_link_tag "https://cdn.datatables.net/2.0.8/css/dataTables.bulma.css" %>
<% end %>

<section class="hero">
  <div class="hero-body">
    <p class="title">Chocolates Catalog</p>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
  <div id="filters" class="select">
    <label class="label" for="form_factor">Form Factor:</label>
    <select id="form_factor">
      <option value=""></option>
    </select>
  </div>
  </div>
</section>

<section class="section">
<div class="container is-fluid">
<div id="chocolates" class="table-container">
  <table id="chocolates_catalog" class="display table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Form Factor</th>
      <th>Cacao %</th>
      <th>Maker</th>
      <th>Maker City</th>
      <th>Maker Region</th>
      <th>Maker Country</th>
      <th>Origin</th>
      <th>Origin Country</th>
      <th>Made in Origin</th>
      <th>Ingredients</th>
      <th>Food Tags</th>
    </tr>
    </thead>
    <tbody>
  <% @chocolates.each do |choco| %>
    <tr>
      <td><%= image_tag(choco.front_img_url, size: 50) %></td>
      <td><%= choco.name %></td>
      <td><%= choco.form_factor %></td>
      <td><%= choco.cacao_percentage %></td>
      <td><%= choco.maker.name %></td>
      <td><%= choco.maker.city %></td>
      <td><%= choco.maker.region %></td>
      <td><%= choco.maker.country %></td>
      <td><%= choco.cacao_origins.map(&:name).join(" | ") %></td>
      <td><%= choco.cacao_origins.map(&:country).join(", ") %></td>
      <td><%= choco.made_in_origin %></td>
      <td><%= choco.ingredients.map(&:name).join(", ") %></td>
      <td><%= choco.food_tags.join(", ") %></td>
    </tr>
  <% end %>
    </tbody>
</div>
</div>
</section>

<script type="module">
  import DataTable from 'datatables.net-dt';
  
  let table = new DataTable('#chocolates_catalog', {
      lengthMenu: [
        [10, 50, 100, -1],
        [10, 50, 100, 'All'],
      ]
  });
 
  function getColumnIndexByTitle(title) {
    var headers = table.columns().header();
    for (var i = 0; i < headers.length; i++) {
        if ($(headers[i]).text() === title) {
            return i;
        }
    }
    return -1; // Return -1 if the title is not found
  }

  let filters = $("#filters");

  // form factor filter
  let formFactorCol = getColumnIndexByTitle("Form Factor");
  let formFactorSelect = $("#form_factor");
  formFactorSelect.on("change", function() {
    table.column(formFactorCol).search($(this).val()).draw();
  });
  table.column(formFactorCol).cache('search').sort().unique().each(function (v) {
    formFactorSelect.append(
      $(`<option value="${v}">${v}</option>`)
    );
  });

  /* Keeping this around for reference...
  table.columns().flatten().each( function ( colIdx ) {
    var skipFilterColumns = ["Image", "Name"];
    var headerText = $(table.column(colIdx).header()).text()
    if (skipFilterColumns.indexOf(headerText) >= 0) { return; }
    
    // Don't add filters for the img and name columns 
    // Create the select list and search operation
    var labelTagName = headerText.toLowerCase().replace(/ /g,"_")
    var label = $(`<label class="label" for="${labelTagName}">${headerText}:</label>`).appendTo(filters);
    var select = $(`<select id="${labelTagName}" />`)
      .appendTo(filters)
      .on( 'change', function () {
          table
            .column( colIdx )
            .search( $(this).val() )
            .draw();
        } );

    // Get the search data for the first column and add to the select list
    table
        .column( colIdx )
        .cache( 'search' )
        .sort()
        .unique()
        .each( function ( d ) {
            select.append( $('<option value="'+d+'">'+d+'</option>') );
        } );
  } );*/
</script>
